version: 2
jobs:
    build:
        machine: true

        working_directory: /home/circleci/.go_workspace/src/github.com/byuoitav

        steps:
            - run: go get github.com/byuoitav/pi-credentials-microservice
            - run: cd pi-credentials-microservice
            - run: make docker
