version: 2
jobs:
    build:
        working_directory: /go/src/github.com/byuoitav/raspi-credentials-microservice
        docker:
            - image: circleci/golang:1.9
        steps:
            - checkout
            - run:
                command: go get -u github.com/FiloSottile/gvt
            - run:
                command: gvt fetch github.com/byuoitav/authmiddleware
            - run:
                command: make docker
                  

