version: 2
jobs:
    build:
        docker:
            - image: golang:1.9.2

        working_directory: /go/src/github.com/byuoitav

        steps:
            - run: go get github.com/byuoitav/pi-credentials-microservice
            - run: go get -u github.com/FiloSottile/gvt
            - setup_remote_docker:     
                version: 17.05.0-ce                  

            - run:
                name: Install Docker Client
                command: |
                    set -x
                    VER="17.03.0-ce"
                    curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
                    tar -xz -C /tmp -f /tmp/docker-$VER.tgz
                    mv /tmp/docker/* /usr/bin
        

            - run: make docker
