version: 2
jobs:
    build:
        machine: true
        working_directory: ${HOME}/go/src/github.com/byuoitav
        steps:
            - checkout
            - run: go get github.com/byuoitav/pi-credentials-microservice
            - run: cd pi-credentials-microservice 
            - run: make docker
